:root,
:root.light {
  --bg-color: #fff;
  --text-color: #123;
}

/* :root {
  --primary: rgb(29, 221, 189);
  --white: rgb(250, 250, 250);
  --secondary: rgb(0, 59, 50);
  --bgLight: rgb(190, 181, 181);
} */


:root.dark {
  --bg-color: #121212;
  --text-color: rgb(29, 221, 189);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif
}

.toggle-container {
  position: relative;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  #navbar{  
    padding: 0;
    margin-left: auto;
    margin-right: 83px ;
    /* position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
   }

  header {
    background-color:rgb(0, 59, 50);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
  }
  header nav .left a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  header nav .left a:hover {
    color: rgb(29, 221, 189);
  }
  header nav {
    padding: 2rem 0;
  }
  header nav .logo {
    margin-right: 3rem;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .hero {
    padding-top: 2rem;
    padding-bottom: 3rem;
   
  }
  .hero .left img {
    width: 400px;
    height: 600px;
    margin: 70px;
  }
  .hero .right {
      margin-top: -7rem;
  }
  .hero .right h6 {
    font-size: 1.6rem;
    color: rgb(29, 221, 189);
    margin-bottom: 0.5rem;
  }
  .hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .hero .right h1 span {
    color: rgb(29, 221, 189);
  }
  .hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
  }
  
  section {
    padding: 6rem;
  }
  section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  section.about h1 span {
    color:rgb(29, 221, 189);
  }
  section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  section.about p {
    font-family: "Lato", sans-serif;
    color:  rgb(0, 59, 50);
    line-height: 1.9rem;
    margin-bottom: 2rem;
  }
  section.about .socials {
    display: flex;
  }

  section.about .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
    width: 50px;
    text-decoration: none;
    margin-right: 0.8rem;
    border-radius: 50%;
  }
  section.about .socials a:hover {
    background: rgb(29, 221, 189);
  }


  .socials ul{
    position: absolute;
    /* top: 50%; */
    display: flex;
}
  
.socials ul li{
  list-style: none;
  margin: 0 15px;
}

  .socials ul li .fab{
    font-size: 30px;
    line-height: 50px;
    transition: .3s;
    color: #000;
}

.socials ul li .fab:hover{
    color: #fff;
}
  
  /* section.services {
    background: rgb(17, 17, 17);
  } */
  .services-head {
    /* color: rgb(10, 9, 9); */
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    color:rgb(29, 221, 189);
  }
  .services-head + p {
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 400;
  }

  .ProjectLists{
    width: 100%;
    height: auto;
    /* background-color: rebeccapurple; */
    text-align: center;
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
  }
  .ProjectList{
    position: relative;
    transition: all 0.2s ease;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
  }
  .ProjectList h2{
  margin-bottom: 0.7rem;
  }
  .ProjectList p{
  line-height: 1.4;}

  .ProjectList img {
    transition: all 1s;
  }
  
  .ProjectList:hover img {
    transform: scale(1.3);
  }
  .card img {
    width: 100%;
    background: white;
  }
  /* section.services .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  } */
  /* section.services .card-grid .card {
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
  } */
  section.services .card-grid .card img {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: var();
  }
  section.services .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  section.services .card-grid .card p {
    font-family: "Lato", sans-serif;
    color:  rgb(0, 59, 50);
    line-height: 1.4;
  }
  section.services .card-grid .card:hover {
    background: rgb(29, 221, 189);
  }
  /* section.services .card-grid .card:hover h2 {
    color: var(--white);
  }
  section.services .card-grid .card:hover p {
    color: var(--white);
  } */
  
  .flex {
    display: flex;
  }
  .items-centre {
    align-items: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-right {
    justify-content: right;
  }
  .btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  .btn-primary {
    background-color: rgb(29, 221, 189);
    color:  rgb(0, 59, 50);
    margin-top: -15rem;
  }
  .btn-primary:hover {
    background: transparent;
    border-color:rgb(29, 221, 189);
    color: rgb(29, 221, 189);
  }
  .flex-1 {
    flex: 1;
  }
  .btn-secondary {
    background: transparent;
    color: rgb(29, 221, 189);
    border-color: rgb(29, 221, 189);
  }
  .btn-secondary:hover {
    background: rgb(29, 221, 189);
    color:  rgb(0, 59, 50);
  }
  .anchor-text{
    text-decoration: none;
  }
  .workLink{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .workLink a{
    color:  rgb(29, 221, 189);
  }
  .workLink:hover {
    opacity: 0.7;
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .w-title {
    font-size: 1.2rem;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .work-content {
    padding: 2rem 3% 1rem 4%;
    display: flex;
    flex:2;
    flex-wrap: wrap;
  }
  .section_header{
    /* // background-color: #ebebeb; */
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
 }
 .section_header span {
  color: rgb(29, 221, 189);
}
 
  .Contact_section{
    padding: 40px;
  }
  /* contact form */
.FormContent{
  display: block;
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 7px;
  padding: 30px;
  width: 150vh;
  backdrop-filter: blur(10px);/* glassmorphism */
  background-color: rgba(9, 209, 36, 0.089);/* glassmorphism */
  border: 1px solid rgba(97, 143, 105, 0.1);/* glassmorphism */
  margin:0 auto;
  margin-top: 30px;
}

.FormContent input{
  display: inline-block;
  padding: .65em .85em;
  transition: 0.3s linear;
  box-sizing: border-box;
  outline: none;
  border: 2px solid  rgb(29, 221, 189);
  border-radius: 7px;
  margin: 8px 0;
  width: 100%;
}

.FormContent input[type=submit]{
  background-image: linear-gradient(to left,  #baebce 0%,#3b6b4a 100%);
  box-shadow: 0 9px 25px -5px rgb(29, 221, 189);
  padding: 0.5em 1.9em;
margin: 0.3em 0 0 0;
border-radius: 7px;
font-size: 1.4em;
cursor: pointer;
color: #FFFFFF;
font-size: 1em;
outline: none;
border: none;
  transition: 0.3s linear; 
}
.FormContent input[type=submit]:hover {
  opacity: 0.8;
  transform: translatey(2px);
}


.FormContent textarea{
  padding: .75em .85em;
  box-sizing: border-box;
  border: 2px solid rgb(29, 221, 189);
  border-radius: 7px;
  margin: 8px 0;
  width: 100%;
  height: 200px;
  outline: none;
  font-size: 1.2em;
  resize: none;
 }
 .footerdiv{
  text-align: center;
  padding: 10px;
  background-color: rgb(248, 249, 250); 
}
footer hr{
  border-top-color:white;
  opacity:0.5 ;
  margin:7px;
}